MONGO_URI=mongodb+srv://<username>:<password>@cluster0.abcd.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=escar_db
MONGO_CONNECT_RETRIES=3
MONGO_CONNECT_BACKOFF_MS=500

# Nota: reemplaza <username>, <password> y el cluster por los valores de tu Atlas.
